<ion-header>
  <ion-toolbar>
    <ion-title>calculatrice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <p id="reponseUser">Ici votre réponse</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col (click)="clickOnNumber(7);">7</ion-col>
    <ion-col>8</ion-col>
    <ion-col>9</ion-col>
    <ion-col>x</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
    <ion-col>-</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>+</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>+/-</ion-col>
    <ion-col>0</ion-col>
    <ion-col>,</ion-col>
    <ion-col>=</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
